* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 340px;
    background-color: #1d1716;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

:focus {
    outline: none;
}

::placeholder {
    color: black;
}

.navBar {
    background-color: #402a23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    font-size: 13px;
}

.logo span {
    color: #f3bc77;
}

.logo img {
    width: 20px;
    margin-right: 5px;
}

.fa-bars {
    font-size: 25px;
    margin: 20px;
    cursor: pointer;
    color: #f3bc77;
}

.navContent {
    position: fixed;
    right: 0;
    height: 100%;
    width: 125px;
    background-color: #402a23;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease .3s all;
}

.navContent ul {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navContent ul li {
    margin: 10px 0;
}

.navContent input {
    width: 100px;
    border: none;
    color: black;
    padding: 5px;
    border-radius: 3px;
}

.navContent button {
    padding: 7px 15px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 650;
}

.about {
    font-weight: 900;
}

.login {
    background-color: #1d1716;
}

.signUp {
    background: #f3bc77;
}

.hide {
    display: none;
}

/* -------
    Main content:
*/
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent .header {
    width: 300px;
    margin-top: 20px;
    text-align: justify;
}

.Board {
    font-size: 30px;
}

.Moves {
    color: #f3bc77;
}

.currentPLayer {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.fa-user-circle {
    font-size: 55px;
    margin-left: 10px;
}

.playOptions {
    display: flex;
    flex-direction: column;
}

.playOptions button {
    margin: 5px 0;
}

.pvp, .bot {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: none;
    border-radius: 4px;
    height: 50px;
    cursor: pointer;
}

.bot span {
    width: 100%;
}

.pvp {
    background-color: #f3bc77;
}

.pvp span {
    margin: 5px;
}

.avatar {
    width: 40px;
}

.fa-robot {
    font-size: 35px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    text-align: center;
    font-size: 14px;
}

footer a, footer p {
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

.icon {
    margin: 10px 0;
}

.icon .fab {
    font-size: 24px;
}
